<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h3>Personal Detail</h3>

  <div class="field">
  <%= f.label :name, 'Full name as of NRIC' %>
  <%= f.text_field :name, autofocus: true, :required => true %>
  </div>

  <div class="field">
  <%= f.label :nric, 'NRIC' %>
  <%= f.text_field :nric, :required => true %>
  </div>

  <div class="field">
  <%= f.label :contact, 'Contact Number' %>
  <%= f.text_field :contact, :required => true %>
  </div>

  <div class="field">
  <%= f.label :gender, 'Gender' %>
  <%= f.select :gender, [['Male','male'],['Female','female']] %>
  </div>

  <div class="field">
  <%= f.label :date_of_birth, 'Date of Birth' %>
  <%= f.date_field :date_of_birth, :required => true %>
  </div>

  <div class="field">
  <%= f.label :address, 'Address' %>
  <%= f.text_field :address, :required => true %>
  </div>

  <div class="field">
  <%= f.label :student_status, 'Are you currently a student?' %>
  <%= f.select :student_status, [['No','no'],['Yes','yes']] %>
  </div>

  <div class="field">
  <%= f.label :student_school, 'If you are a student, which school are you currently studying in?' %>
  <%= f.text_field :student_school %>
  </div>

  <div class="field">
  <%= f.label :bank_name, 'Bank Name' %>
  <%= f.text_field :bank_name, :required => true %>
  </div>

  <div class="field">
  <%= f.label :bank_account_number, 'Bank Account Number' %>
  <%= f.text_field :bank_account_number, :required => true %>
  </div>

  <div class="field">
  <%= f.label :colored_hair_status, 'Do you have colored hair?' %>
  <%= f.select :colored_hair_status, [['No','no'],['Yes','yes']] %>
  </div>

  <div class="field">
  <%= f.label :tattoo_status, 'Do you have visible tattoos?' %>
  <%= f.select :tattoo_status, [['No','no'],['Yes','yes']] %>
  </div>

  <div class="field" hidden="true" >
  <%= f.label :point, 'Points' %>
  <%= f.text_field :point, :value => "100" %>
  </div>




<h3>Login Details</h3>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
