
  <div class="panel panel-default">
    <div class="panel-heading"><%= @job.location %></div>
    <div class="panel-body">
      <div><strong>Date:</strong>
      <%= @job.date %></div>
      <div><strong>Start time:</strong>
      <%= @job.start_time.to_time.strftime("%H:%M %p") %></div>
      <div><strong>End time:</strong>
      <%= @job.end_time.to_time.strftime("%H:%M %p") %></div>
      <div><strong>Rate per hour:</strong>
      $<%= @job.rate_per_hour %>/hr</div>
    </div>
  </div>


<p>
    <a href="/requests/new/?jobs_id=<%=params[:id]%>" class="btn btn-info" style="color:white">Request</a>
</p>

<%= link_to 'Back', jobs_path %>
