<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @job.date %>
</p>

<p>
  <strong>Day:</strong>
  <%= @job.start_time.to_time.strftime("%a") %>
</p>


<p>
  <strong>Start time:</strong>
  <%= @job.start_time.to_time.strftime("%H:%M %p") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @job.end_time.to_time.strftime("%H:%M %p") %>
</p>

<p>
  <strong>No of slots:</strong>
  <%= @job.no_of_slots %>
</p>

<p>
  <strong>Rate per hour:</strong>
  <%= @job.rate_per_hour %>
</p>

<p>
    <a href="/requests/new/?jobs_id=<%=params[:id]%>" class="btn btn-info" style="color:white">Request</a>
</p>

<%= link_to 'Back', jobs_path %>
