<p id="notice"><%= notice %></p>

<h1>Requests</h1>


  <table class = "table table-hover">
  <thead>
    <tr>
      <th>Confirmation</th>
      <th>User</th>
      <th>Location</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.confirmation %></td>
        <td><%= request.user.email %></td>
        <td><%= request.job.location %></td>
        <td><%= request.job.start_time.to_time.strftime("%H:%M %p") %></td>
        <td><%= request.job.end_time.to_time.strftime("%H:%M %p") %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
