<p id="notice"><%= notice %></p>
<p>
  <strong>Booked by:</strong>
  <%= @request.user.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @request.job.location %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @request.job.start_time.to_time.strftime("%H:%M %p") %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @request.job.end_time.to_time.strftime("%H:%M %p") %>
</p>

<p>
  <strong>Status:</strong>
<%= @request.confirmation%>

</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
